body {
    background-color: black;
    margin: 0;
    width: 100%;
}

#navbar {
    list-style-type: none;
    background: #949494;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar > li {
    float: left;
}

#navbar > li > a{
    display: block;
    background: #6B6B6B;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar > li > a:hover {
    background-color: #545454;
}

#navbar > li > #active {
    background-color: #858585;
}