body {
    background-color: #4C6085;
    margin: 0;
    width: 100%;
}

#navbar {
    list-style-type: none;
    background: #32322C;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar > li {
    float: left;
}

#navbar > li > a{
    display: block;
    background: #4e4e4e;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar > li > a:hover {
    background-color: #707070;
}

#navbar > li > #active {
    background-color: #39A0ED;
}

#headText {
    color: white;
    text-align: center;
    font-size: 36pt;
}

.itemcard {
    position: absolute;
    background-color: white;
    margin-left: 250px;
    margin-top: 0px;
    padding: 161px;
    padding-right: 80px;
    z-index: 0;
    border-radius: 0 30px 30px 0;
}

#itemID {
    background-image: url(img/loom.jpg);
    background-size: contain;
    width: 340px;
    height: 340px;
    margin: 0;
    padding: 0;
    z-index: 1;
    border-radius: 0;
}
/* Color Palette 
#4C6085
#39A0ED
#36F1CD
#13C4A3
#32322C
*/